@import 'tailwindcss';

@theme {
  /* 폰트 */
  --font-pretendard: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  --font-roboto: 'Roboto', ui-sans-serif, system-ui, sans-serif;

  /* 색상 팔레트 */
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #713f12;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-success-100: #dcfcfa;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-800: #166534;

  --color-danger-100: #fca5a5;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-800: #991b1b;
}

/* 폰트 전체 적용 */
html,
body {
  font-family: var(--font-pretendard);
}

/* 많이 쓰이는 center 속성 변수화 */
.center-center {
  @apply flex items-center justify-center;
}

/* 네브 바 링크들 스타일 통일 */
.nav-links {
  @apply hover:text-primary-600 text-base font-normal text-gray-700 transition-colors;
}

/* BasicInput에 추가할 수 있는 아이콘 스타일 지정 */
.input-svg {
  @apply pointer-events-none absolute top-1/2 -translate-y-1/2 text-gray-400;
}

/* 채팅, 알림 창에서 사용할 투명한 스크롤 바 */
.transparent-scrollbar {
  @apply overflow-y-auto;
  &::-webkit-scrollbar {
    @apply w-0;
  }
}
